.userList {
  background-color: var(--bcc);
}
.usersPhoto {
    width: 100px;
    height: 100px;
}
.usersItem {
    border: solid rgb(247, 87, 87);
    margin: 10px;
}
.paginator {
  border: solid 1px black;
  text-align: center;
}