/* go down */
.nav {
  grid-area: n;

  display: grid;
  grid-template-areas:
    " i "
    " fb ";

  grid-template-rows: 230px 150px;

  grid-gap: 10px;
}
.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 23px;
  display: block;
}
.item .activeLink {
  transition-delay: 0s;
  color: rgb(255, 235, 122);
  text-align: right;
  margin-right: 20px;
}
.item {
  vertical-align: middle;
  margin-top: 10px;
  font-weight: bold;
  font-family: Azonix;
  margin-left: 15px;
}
.item :hover {
  letter-spacing: 1px;
  font-size: 27px;
  box-shadow: 0 0 20px rgba(223, 245, 31, 0.3);
  background-color: rgba(229, 255, 0, 0.1);
}
.itemsBlock {
  grid-area: i;
  background-color: rgba(2, 3, 3, 0.85);
  width: 100%;
  border-radius: 7px;
  padding-top: 10px;
}
