/* go down */
.nav {
  grid-area: n;

  display: grid;
  grid-template-areas:
    " i "
    " fb ";

  grid-template-rows: 230px 150px;

  grid-gap: 10px;
}
.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 23px;
  display: block;
}
.item .activeLink {
  transition-delay: 0s;
  color: rgb(255, 235, 122);
  text-align: right;
  margin-right: 20px;
}
.item {
  vertical-align: middle;
  margin-top: 10px;
  font-weight: bold;
  font-family: Helvetica;
  margin-left: 15px;
}
.item :hover {
  letter-spacing: 1px;
  font-size: 27px;
  box-shadow: 0 0 20px rgba(223, 245, 31, 0.3);
  background-color: rgba(229, 255, 0, 0.1);
}
.itemsBlock {
  grid-area: i;
  background-color: rgba(2, 3, 3, 0.85);
  width: 100%;
  border-radius: 7px;
}
.friendsBlock {
  grid-area: fb;
  background-color: rgba(2, 3, 3, 0.85);
  border-radius: 7px;
  text-align: center;
  padding-bottom: 10px;
}
.friendsLink {
  font-size: 35px;
  font-weight: bold;
  display: block;
}
.friendsLink .friendsActiveLink {
color: rgb(255, 235, 122);
}
.friendsLink a {
  text-decoration: none;
  color: aliceblue;
}
.friendsLink :hover {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  box-shadow: 0 0 20px rgba(217, 240, 47, 0.3);
  background-color: rgba(223, 245, 31, 0.1);
}

.friendsBlockItems {
  grid-area: fb;
  background-color: rgba(2, 3, 3, 0.85);
  border-radius: 7px;

  display: grid;
  grid-template-areas:
    " fi fi "
    " fi fi ";

  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  color: aliceblue;
  padding: 5px 5px 10px 5px;
}
.friendItem {
  /* border: 1px solid white; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.friendItem img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.friendItemName {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}
