.userData {
  display: grid;
  grid-template-areas:
    "fn e"
    "s s"
    "am am"
    "ms ms";
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 35px 1fr 4fr 3fr;
}
.fullName {
  grid-area: fn;
  font-size: 30px;
  font-family: Roboto;
  font-weight: bold;
  color: rgb(4, 6, 136);
}
/* Edit BUTTON*/
.editProfileButton {
  grid-area: e;
  width: 50px;
  height: 50px;
 
}
.editProfileButton button {
  
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: rgb(226, 226, 228);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .2em 1em;
    outline: none;
    border-radius: 7px;
    background: linear-gradient(rgb(10, 10, 10), rgb(0, 0, 0)) rgb(0, 0, 0);
    box-shadow:
     0 1px rgba(255,255,255,.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.editProfileButton button:hover:not(:active) {
  background: linear-gradient(rgb(162, 162, 173), rgb(70,71,76)) rgb(126,126,134);
}
.editProfileButton button:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}


/* Status Input*/
.statusInput {
  grid-area: s;
  color: rgb(26, 7, 122);
}
.aboutMe {
  grid-area: am;
  color: var(--pdtc);
}
.mySkills {
  grid-area: ms;
  color: var(--pdtc);
}
.mySkillsText {
}
