.userInformation {
  background-color: var(--bcc);
  border-radius: var(--br);
  display: grid;
  grid-template-columns: 2fr 10fr;

  grid-template-areas: "uimg uinf o";
  grid-template-columns: 220px 400px auto;
}
/* Photo block */
.mainPhoto {
  grid-area: uimg;

  padding: 10px;
}
.mainPhoto img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.addFileButton {
  width: 100%;
  height: 100%;
  color: var(--bcc);
  border: 3px solid red;
  display: block;
  
}

/* Info block */
.userInfo {
  grid-area: uinf;
  border-left: solid 1px rgb(0, 0, 0);
  padding: 10px;
}
/* Other */
.other {
  grid-area: o;
  background-color: rgba(52, 49, 194, 0.5);
  margin: 10px;
  border-radius: var(--br);
  text-align: center;
}
