.userInformation {
  background-color: var(--bcc);
  border-radius: var(--br);
  display: grid;
  grid-template-columns: 2fr 10fr;
  

  grid-template-areas: "uimg uinf";
}

.mainPhoto {
  grid-area: uimg;

  padding: 10px;
}
.mainPhoto img {
  width: 200px;
  height: 200px;

  margin: 20px;

  border-radius: 50%;
  border: solid red;
}
.userInfo {
  grid-area: uinf;
  border-left: solid 1px rgb(0, 0, 0);
  padding: 10px;
}

.editButton {
  float: right;
}
