.appWrapper {
  margin: 0 auto;
  display: grid;

  width: 1200px;

  grid-template-areas:
    " h h "
    " n c ";
    

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.appWrapperContent {
  grid-area: c;
  background-color: rgb(245, 249, 255);
  border: solid 0.5px rgba(51,76,138,.85) ;
  box-shadow: black ;
  border-radius: 7px;
  

}
.preloader {
    width: 250px;
    height: 250px;
    position: relative ;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}