.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.dialog {
  height: 50px;
  border-color: rgb(255, 255, 255);
  border: solid;
  margin: 5px auto;
 
}

.dialog img {
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.dialogsItems {
  padding: 10px;
  color: white;
  background-color: var(--bcc);
  text-decoration: none;
  border-radius: var(--br);
}


.messages {
  padding: 10px;
  background-color: var(--bcc);
  border-radius: var(--br);
}


.dialogsItems .active {
  color: gold;

  border: solid red;
  margin: 5px auto;
 
}

.dialogsItems .active img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
textarea {
  border: solid 1px;
 
}